@charset 'utf-8';

@import 'reset','sprite';

ul {
	li {
		margin: 10px;
		border: 1px solid #000;
		background-repeat: no-repeat;
		&:nth-child(1) {
			@include sprite($red);
		}
		&:nth-child(2) {
			@include sprite($yellow);
		}
		&:nth-child(3) {
			@include sprite($green);
		}
		p {
			padding: 4px;
			font-size: 14px;
		}
	}
}