@charset "UTF-8";

@import "reset";

h1 {
	font-size: 120%;
	margin: 10px;
}
.backgroundImage {
	width: 100%;
	background-color: #363636;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.heightFix {
	height: 150px;
}
.cover {
	-webkit-background-size: cover;
	background-size: cover;
}

@media screen and (max-width: 500px) {
.backgroundImage {
	background-image: url('../img/episodeImg3_s.jpg');
}
}
@media screen and (min-width: 501px) {
.backgroundImage {
	background-image: url('../img/episodeImg3_l.jpg');
}
}
@media screen and (min-width: 701px)  {
.wr {
	max-width: 950px;
	margin: 0 auto;
}
}