@charset "UTF-8";

//var
$mainColor_ep1: #659653;
$subColor_ep1: #40752d;
$mainColor_ep2: #BB6C6B;
$subColor_ep2: #8a3634;
$mainColor_ep3: #658AB3;
$subColor_ep3: #185EB9;
$mainColor_ss: #747474;
$subColor_ss: #85ae76;
$topTitleWrColor: #C8C38D;

// common style
.wr {
	background-color: #eee;
}
.cf:after {
 	content: "";
 	clear: both;
 	display: block;
}

@import "reset";
@import "vol";


@media screen and (max-width: 500px) {
@import "small";
}
@media screen and (min-width: 501px) and (max-width: 700px) {
@import "medium";
}
@media screen and (min-width: 701px)  {
@import "large";
}